/*
.mutex-border {
    position: relative;
    z-index: 0;
    padding: 1px;
}

.mutex-border:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    z-index: -1;
    display: block;
    width: 300%;
    height: 299%;
    width: calc(300% - 3px);
    height: calc(300% - 3px);
    border-radius: 51px;
    border: 1px solid #ccc;
    -webkit-transform: scale(.3333);
    -webkit-transform-origin: 0 0;
}

.mod-mutex_btn{
    width: 28px;
    height: 12px;
    border-radius: 18px;
    padding: 2px;
}

.mutex {
    width: 12px;
    height: 12px;
    background-color: #999;
    border-radius: 6px;
}*/
